html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;        /* Fill the screen */
  background-repeat: no-repeat;  /* No tiling */
  background-position: center;   /* Center image */
}

p, h1, h2, h3 {
  color: white;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  background-color: black;
  border-radius: 10px;
}

form label {
  color: white;
}
