html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  text-align: center;
  padding: 40px 10px
  background-image: url("https://www.google.com/imgres?q=rib%20eye%20steak&imgurl=https%3A%2F%2Fwww.tariqhalalmeats.com%2Fpub%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2F365b071d5dd05f75ee5183a7d53f868c%2Fs%2Fh%2Fshutterstock_1284210109.jpg&imgrefurl=https%3A%2F%2Fwww.tariqhalalmeats.com%2Fbone-in-rib-eye-steak-each-350-400g.html%3Fsrsltid%3DAfmBOoqWpxeVMp8e6bVVuSzImRYjbME0KrLHIFqEAK0zSg1KIAY8myp2&docid=iTSSUYJX9ixuHM&tbnid=JyxzTK-RyhMw4M&vet=12ahUKEwjXsdmh_uySAxWeWEEAHSI6DVAQnPAOegQIRBAB..i&w=700&h=700&hcb=2&ved=2ahUKEwjXsdmh_uySAxWeWEEAHSI6DVAQnPAOegQIRBAB");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

p, h1, h2, h3 {
  color:"white";
}

#box {
  display: inline-block;
  text-align: left;
  padding: 20px;
  background-color: "black";
  border-radius: 30px;
  margin-top: 40px;
}

form label {
  "color": "white"}
