html{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#2a334b;
}
body *{
  color: white;
}
#box{
  width:auto;
  display:flex;
  justify-content:center;
  align-items:center;
  hight:auto;
  background-color:black;
  border-radius:10px;
}
